/*
 ==================================================================================
                Setting up core content and definitions
===================================================================================
*/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #FFFFFF;
  --gray: #869AB8;
  --gray-dark: #384C74;
  --primary: #335EEA;
  --secondary: #506690;
  --success: #42BA96;
  --info: #7C69EF;
  --warning: #FAD776;
  --danger: #DF4759;
  --light: #F9FBFD;
  --dark: #2B354F;
  --primary-desat: #6C8AEC;
  --black: #161C2D;
}


/* ========= End of core content and definitions =============== */

/*
 ==================================================================================
                Definitions of core components
===================================================================================
*/

/*Main containers and wrappers*/
  *{
    margin:0px;
    padding:0px;
  }

  body{
    margin:0px;
    padding:0px;
    background-color:white;
  }

  #main_wrapper{
    display:block;
    margin:2px;
    margin-left:auto;
    margin-right:auto;
    padding:4px;
    width:95%;
  }

  .container{
    min-width:380px;
    max-width:479px;
    margin:0px;
    padding:0px;
  }

  .row{
    background:white;
    margin:0px;
    padding:0px;
  }

  .col{
    margin:0px;
    padding:0px;
  }

/*End of wrapper set up*/
/*Start of content layouts: ie sections and articles*/
section{
  margin:0px;
  padding:0px;
  border-radius: 4px;
}

article{
  margin:0px;
  padding:0px;
  border-radius: 4px;
}
/*End of content layout*/
/*
 ==================================================================================
                Start of media specific properties
===================================================================================
*/
/*Start of font and typography*/
/*Main heading and subheading paring*/
.row{
}

.row-table{
  display: table;
}

.col-table{
  display: table-cell;
  width:50%;
  vertical-align:middle;
}

.display-3{
    font-size:1.6rem;
}

.display-4{
    font-size:1.4rem;
}

h1{
  font-size:1.4rem;
}

h2{
  font-size:1.3rem;
}

/*Secondary heading and subheading paring*/
h3{
  font-size:1.1rem;
}

h4{
  font-size:1.05rem;
}
/*Tertiary heading and subheading paring*/
h5{
  font-size:0.8rem;

}

h6{
  font-size:0.9rem;
}

#main_footer h6{
  padding-bottom:8px;
}

p{
  display:inline;
  font-size:1.0rem;
}

.col .btn a{
  color:white;
  text-decoration:none;
}

.btn-xs{
  font-size:0.8rem;
  margin:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:1px;
  margin-right:1px;
  padding-top:3px;
  padding-bottom:3px;
  padding-right:8px;
  padding-left:8px;

}

/*End of font and typography*/
/*Start of specific sections*/
  #welcome_content{
    background-color:white;
    display:table;
    margin:0px;
    padding:0px;
    padding-top:10px;
    padding-bottom:20px;
  }

  #welcome_logos{
    margin:0px;
    padding:0px;
    padding-bottom:20px;
  }

  #tutoring_explained img{
    width:300px;
  }

  .text_middle{
    display: inline-block;
    position:relative;
    vertical-align:middle;
    padding-top:5%;
    padding-bottom:0px;
    border: 1px solid red;
  }

/*Icons and logos*/
  /* For Khan academy SVG logo*/
  .icon_row li{
    display:inline;
    font-size:20px;
  }

  .khan{
    width:30px;
    height:30px;
  }

  /* Style all font awesome icons */
  .fa {
    padding: 10px;
    font-size: 40px;
    width: 40px;
    height:40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-envira{
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: 50px;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
/*End of icons and logos*/
/*Start of Images*/

.img-main{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.logo_lg{
  width:200px;
}

.logo_lg{
  width:100px;
  height:150px;
}

/*End of images*/
/*
==================================================================================
                 sm sized control elements
===================================================================================
*/
/* start of phone styles */
/*sm*/ @media (min-width:576px)
{
  .container{
    width:98%;
    margin:auto;
    padding:0px;
  }

  .row{
    background:white;
  }
  /*Start of font and typography*/
  /*Main heading and subheading paring*/
  .display-3{
      font-size:1.6rem;
  }

  .display-4{
      font-size:1.4rem;
  }

  h1{
    font-size:1.4rem;
  }

  h2{
    font-size:1.3rem;
  }

  /*Secondary heading and subheading paring*/
  h3{
    font-size:1.1rem;
  }

  h4{
    font-size:1.05rem;
  }
  /*Tertiary heading and subheading paring*/
  h5{
    font-size:0.8rem;

  }

  h6{
    font-size:0.9rem;
  }

  #main_footer h6{
    padding-bottom:8px;
  }

  p{
    display:inline;
    font-size:1.0rem;
  }

  .col .btn a{
    color:white;
    text-decoration:none;
  }

  .btn-xs{
    font-size:0.8rem;
    margin:0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:1px;
    margin-right:1px;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:8px;
    padding-left:8px;

  }

  /*End of font and typography*/
  /*Start of specific sections*/
    #welcome_content{
      background-color:white;
      display:table;
      margin:0px;
      padding:0px;
      padding-top:10px;
      padding-bottom:20px;
    }

    #welcome_logos{
      margin:0px;
      padding:0px;
      padding-bottom:20px;
    }

    #tutoring_explained img{
      width:300px;
    }

    #programming_explained .img-side{
      display:inline-block;
      vertical-align: middle;
      margin-top:10%;
      margin-bottom:auto;
      padding:0px;
    }

  /*Icons and logos*/
    /* For Khan academy SVG logo*/
    .icon_row li{
      display:inline;
      font-size:20px;
    }

    .khan{
      width:30px;
      height:30px;
    }

    /* Style all font awesome icons */
    .fa {
      padding: 10px;
      font-size: 40px;
      width: 40px;
      height:40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-envira{
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
      font-size: 50px;
    }

    .fa-google {
      background: #dd4b39;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    .fa-pinterest {
      background: #cb2027;
      color: white;
    }
  /*End of icons and logos*/
  /*Start of Images*/

  .img-main{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
  }

  .logo{
    width:100px;
    padding-bottom:4px;
  }

  .logo_lg{
    width:100px;
    height:150px;
  }

  /*End of images*/
  /*

}
/* ============= END OF SM elements ===================================== */
/*
==================================================================================
                 md sized control elements
===================================================================================
*/
/* start of tablet styles */
/*md*/@media (min-width:768px)
{
  .container{
    min-width:500; max-width:920px;
    background-color:cyan;
  }

  .p-1{
    padding:2px;
  }

  .m-1{
    margin:2px;
  }

  .py-1{
    padding-top:2px;
    padding-bottom:2px;
  }

  .my-1{
    margin-top:2px;
    margin-bottom:2px;
  }

  .p-2{
    padding:4px;
  }

  .m-2{
    margin:4px;
  }

  .p-3{
    padding:6px;
  }

  .m-3{
    margin:6px;
  }

  .img-main{
  }


  .btn-xs{
    font-size:0.8rem;
    margin:0px;
    margin-top:-4px;
    margin-bottom:0px;
    margin-left:1px;
    margin-right:1px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:4px;
    padding-left:4px;
  }

  #welcome_content{
    background-color:white;
    display:table;
  }

  #welcome_content .col img{

  }

  h1{
    font-size:1.4rem;
    }

    h2{
      font-size:1.3rem;
    }

    #welcome_content h5{
      font-size:0.8rem;
    }

    h6{
      font-size:0.9rem;
    }

  h3{
    font-size:1.6rem;
    max-width:100%;
  }

  h4{
    font-size:1.2rem;
    max-width:100%;
    margin:0px;
    padding:0px;
  }

  #tutoring_explained .col a{
    color:white;
    text-decoration:none;
  }
}


/* ============= END OF MD elements ===================================== */
/*
  ==================================================================================
                 lg sized control elements
===================================================================================
*/
/* start of monitor styles */
/*lg*/
@media (min-width:992px)
{
  .container{
    min-width:920; max-width:1240px;
    background-color:orange;
  }

  .p-1{
    padding:2px;
  }

  .m-1{
    margin:2px;
  }

  .py-1{
    padding-top:2px;
    padding-bottom:2px;
  }

  .my-1{
    margin-top:2px;
    margin-bottom:2px;
  }

  .p-2{
    padding:4px;
  }

  .m-2{
    margin:4px;
  }

  .p-3{
    padding:6px;
  }

  .m-3{
    margin:6px;
  }

  .img-main{
  }


  .btn-xs{
    font-size:0.8rem;
    margin:0px;
    margin-top:-4px;
    margin-bottom:0px;
    margin-left:1px;
    margin-right:1px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:4px;
    padding-left:4px;
  }

  #welcome_content{
    background-color:white;
    display:table;
  }

  #welcome_content .col img{

  }

  h1{
    font-size:1.4rem;
  }

  h2{
    font-size:1.3rem;
  }

  #welcome_content h5{
    font-size:0.8rem;
  }

  h6{
    font-size:0.9rem;
  }

  h3{
    font-size:1.6rem;
    max-width:100%;
  }

  h4{
    font-size:1.2rem;
    max-width:100%;
    margin:0px;
    padding:0px;
  }

  #tutoring_explained .col a{
    color:white;
    text-decoration:none;
  }

}


/* ============= END OF LG elements ===================================== */
/*
==================================================================================
                 XL sized control elements
===================================================================================
*/
/* start of tablet styles */
/*XL*/@media (min-width:1200px)
{
  .container{
    max-width:1200px;
    max-width:1440px;
    background-color:grey;
  }

  .p-1{
    padding:2px;
  }

  .m-1{
    margin:2px;
  }

  .py-1{
    padding-top:2px;
    padding-bottom:2px;
  }

  .my-1{
    margin-top:2px;
    margin-bottom:2px;
  }

  .p-2{
    padding:4px;
  }

  .m-2{
    margin:4px;
  }

  .p-3{
    padding:6px;
  }

  .m-3{
    margin:6px;
  }

  .img-main{
  }


  .btn-xs{
    font-size:0.8rem;
    margin:0px;
    margin-top:-4px;
    margin-bottom:0px;
    margin-left:1px;
    margin-right:1px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:4px;
    padding-left:4px;

  }

  #welcome_content{
    background-color:white;
    display:table;
  }

    #welcome_content .col img{

    }

    h1{
      font-size:1.4rem;
    }

    h2{
      font-size:1.3rem;
    }

    #welcome_content h5{
      font-size:0.8rem;
    }

    h6{
      font-size:0.9rem;
    }

  h3{
    font-size:1.6rem;
    max-width:100%;
  }

  h4{
    font-size:1.2rem;
    max-width:100%;
    margin:0px;
    padding:0px;
  }

  #tutoring_explained .col a{
    color:white;
    text-decoration:none;
  }
}


/* ============= END OF XL elements ===================================== */
